<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.User2Mapper">
<select id="selectUsersWithRolesPage" resultType="com.blog.dto.UserInfoVO">
    SELECT u.user_id, u.username, u.status, r.role_name
    FROM users u
    LEFT JOIN user_roles ur ON u.user_id = ur.user_id
    LEFT JOIN roles r ON ur.role_id = r.role_id
    WHERE u.status != 'banned'
    ORDER BY u.last_login_time DESC
</select>
</mapper>